@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark body {
    background-color: #1a202c; /* Dark mode background */
    color: #f8f8f8; /* Light text */
  }

  .dark nav {
    background-color: #1a202c; /* Dark Mode Navbar Background */
    color: white; /* Dark Mode Navbar Text */
  }